@tailwind base;
@tailwind components;
@tailwind utilities;

/* Neonový efekt pro nadpis */
.glow-text {
    @apply text-white text-5xl font-bold text-center;
    animation: pulseEffect 1.5s infinite alternate;
}

    @font-face {
        font-family:Array ;
        src: url("/public/fonts/Array/Array-Regular.ttf") 
    }
    @font-face {
        font-family: Khand;
        src: url("/public/fonts/Khand/Khand-Regular.ttf")
    }
    html.lenis, html.lenis body {
        height: auto;
       }
       .lenis.lenis-smooth {
        scroll-behavior: auto !important;
       }
       .lenis.lenis-smooth [data-lenis-prevent] {
        overscroll-behavior: contain;
       }
       .lenis.lenis-stopped {
        overflow: hidden;
       }
       .lenis.lenis-smooth iframe {
        pointer-events: none;
       }

       