@tailwind base;
@tailwind components;
@tailwind utilities;

/* Neonový efekt pro nadpis */
.glow-text {
    @apply text-white text-5xl font-bold text-center;
    animation: pulseEffect 1.5s infinite alternate;
}

    @font-face {
        font-family:Array ;
        src: url("/public/fonts/Array/Array-Regular.ttf") 
    }
    @font-face {
        font-family: Khand;
        src: url("/public/fonts/Khand/Khand-Regular.ttf")
    }
    .animate-on-scroll {
        opacity: 0;
        transform: translateY(50px);
        transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    }
    
    /* Viditelný stav sekcí (po animaci) */
    .animate-on-scroll.visible {
        opacity: 1;
        transform: translateY(0);
    }